.about-me {
    height: 50vw;
    position: relative;
}

.about-me-border {
    border: 10px solid gold;
    margin: 5vw 15vw;
    position: absolute;
}

.about-me-heading h2 {
    color: goldenrod;
    font-size: 4vw;
    margin-top: 4vw;
    text-align: center;
    letter-spacing: 0.2vw;
}

.about-me-box {
    position: relative;
    display: inline-block;
}

.about-me-content {
    color: wheat;
    margin-left: 5vw;
    margin-right: 5vw;
}

.about-me-content p {
    font-size: 3vw;
    text-align: justify;
    margin-top: 0;
}
