#about-me {
    position: relative;
}

.about-me {
    height: 100%;
    position: absolute;
    border: gold solid 1vw;
    margin: 5vw 10vw;
}

.about-me-heading h2 {
    color: goldenrod;
    font-size: 6vw;
    margin-top: 4vw;
    text-align: center;
    letter-spacing: 0.2vw;
}

.about-me-box {
    display: inline-block;
}

.about-me-content {
    color: wheat;
    margin: 0 5vw;
}

.about-me-content p {
    font-size: 3vw;
    letter-spacing: 0.1vw;
    text-align: justify;
    margin-top: 0;
}



@media screen and (max-width: 800px) {
    .about-me-heading h2 {
        color: goldenrod;
        font-size: 10.5vw;
        margin-top: 10vw;
        text-align: center;
        letter-spacing: 0.2vw;
    }

    .about-me-content p {
        font-size: 5vw;
        letter-spacing: 0.1vw;
        text-align: justify;
        margin-top: 0;
    }
    
}