@media only screen and (max-width: 767px) {
    * {
        box-sizing: border-box;
        font-size: 100%;
        font-family: karantina;
    }
    
    body {
        margin: 0px;
        padding: 0px;
        background-color: #111215;
        overflow-x: hidden;
    }
    
    header {
        background-color: black;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }
    
    .header {
        background-color: black;
        height: 15vw;
        padding: 0 1vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    .menu-button {
        background-color: black;
        border: none;
        padding: 0.5vw 4vw;
        font-size: 5vw;
        cursor: pointer;
        color: wheat;
    }
    
    .menu-button a {
        text-decoration: none;
    }
    
    .menu-button a:visited {
        color: wheat;
        text-decoration: none;
    }

    .certifications-title {
        letter-spacing: 5px;
        text-shadow: 1vw 1vw 1vw black;
        height: 20vw;
    }
    
    
    .certifications-heading-p h1{
        padding-top: 5vw;
        font-size: 10vw;
        margin: auto;
        color: goldenrod;
        text-align: center;
    }    

    .certificates {
        display: flex;
        justify-content: center;
    }

    .certificates-image {
        background-color: wheat;
        margin: 1vw;
        padding: 1vw;
        width: auto;
        height: 20vw;
        border: 1vw solid black;
        display: flex;
        justify-content: center;
    }

    .certificates-image img {
        display: block;
        width: 100%;
        border: 0.3vw solid #111215;
    }

    footer {
        background-color: black;
        color: goldenrod;
        margin-top: 10vw;
    }
    
    .footer {
        margin-left: auto;
        margin-right: auto;
        vertical-align: middle;
    }
    
    .footer p {
        font-size: 3vw;
        text-align: center;
        margin: 0px;
        padding: 8vw;
        height: 20vw;
    }
    
    .gold-logo, .black-logo  {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10vw;
        max-width: 100%;
        margin: 0 auto;
        padding: 6vw;
    }
    
    .social-media img {
        max-width: 9vw;
    }
    
    .black-logo {
        display: none;
    }
    
    .social-media:hover {
        color: black;
        background-color: wheat;
        .gold-logo {
            display: none;
        }
        .black-logo {
            display: flex;
        }
    }
}

  /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    * {
        box-sizing: border-box;
        font-size: 100%;
        font-family: karantina;
    }
    
    body {
        margin: 0px;
        padding: 0px;
        background-color: #111215;
        overflow-x: hidden;
    }
    
    header {
        background-color: black;
    }
    
    .header {
        background-color: black;
        height: 5vw;
        padding: 0 1vw;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    .menu-button {
        background-color: black;
        border: none;
        padding: 0.5vw 1vw;
        font-size: 2vw; /* Adjust font size */
        cursor: pointer;
        color: wheat;
    }
    
    
    .menu-button a {
        text-decoration: none;
    }
    
    .menu-button:hover {
        color: black;
        background-color: white;
    }
    
    .menu-button a:visited {
        text-decoration: none;
        color: wheat;
    }

    .certifications-title {
        letter-spacing: 5px;
        text-shadow: 1vw 1vw 1vw black;
        height: 20vw;
    }
    
    
    .certifications-heading-p h1{
        padding-top: 5vw;
        font-size: 10vw;
        margin: auto;
        color: goldenrod;
        text-align: center;
    }    

    .certificates {
        display: flex;
        justify-content: center;
    }

    .certificates-image {
        background-color: wheat;
        margin: 1vw;
        padding: 1vw;
        width: auto;
        height: 20vw;
        border: 1vw solid black;
        display: flex;
        justify-content: center;
    }

    .certificates-image img {
        display: block;
        width: 100%;
        border: 0.3vw solid #111215;
    }

    footer {
        background-color: black;
        color: goldenrod;
        margin-top: 10vw;
    }
    
    .footer {
        margin-left: auto;
        margin-right: auto;
        vertical-align: middle;
    }
    
    .footer p {
        font-size: 1.5vw;
        text-align: center;
        margin: 0px;
        padding: 2vw;
    }
    
    .gold-logo, .black-logo  {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2vw;
        max-width: 100%;
        margin: 0 auto;
        padding: 3vw;
    }
    
    .social-media img {
        max-width: 3vw;
    }
    
    .black-logo {
        display: none;
    }
    
    .social-media:hover {
        color: black;
        background-color: wheat;
        .gold-logo {
            display: none;
        }
        .black-logo {
            display: flex;
        }
    }
} 

  /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    * {
        box-sizing: border-box;
        font-size: 100%;
        font-family: karantina;
    }
    
    body {
        margin: 0px;
        padding: 0px;
        background-color: #111215;
        overflow-x: hidden;
    }
    
    header {
        background-color: black;
    }
    
    .header {
        background-color: black;
        height: 5vw;
        padding: 0 1vw;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    .menu-button {
        background-color: black;
        border: none;
        padding: 0.5vw 1vw;
        font-size: 2vw; /* Adjust font size */
        cursor: pointer;
        color: wheat;
    }
    
    .menu-button a {
        text-decoration: none;
    }
    
    .menu-button:hover {
        color: black;
        background-color: white;
    }
    
    .menu-button a:visited {
        text-decoration: none;
        color: wheat;
    }

    .certifications-title {
        letter-spacing: 5px;
        text-shadow: 1vw 1vw 1vw black;
        height: 20vw;
    }
    
    
    .certifications-heading-p h1{
        padding-top: 5vw;
        font-size: 10vw;
        margin: auto;
        color: goldenrod;
        text-align: center;
    }    

    .certificates {
        display: flex;
        justify-content: center;
    }

    .certificates-image {
        background-color: wheat;
        margin: 1vw;
        padding: 1vw;
        width: auto;
        height: 20vw;
        border: 1vw solid black;
        display: flex;
        justify-content: center;
    }

    .certificates-image img {
        display: block;
        width: 100%;
        border: 0.3vw solid #111215;
    }

    footer {
        background-color: black;
        color: goldenrod;
        margin-top: 10vw;
    }
    
    .footer {
        margin-left: auto;
        margin-right: auto;
        vertical-align: middle;
    }
    
    .footer p {
        font-size: 1.5vw;
        text-align: center;
        margin: 0px;
        padding: 2vw;
    }
    
    .gold-logo, .black-logo  {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2vw;
        max-width: 100%;
        margin: 0 auto;
        padding: 3vw;
    }
    
    .social-media img {
        max-width: 3vw;
    }
    
    .black-logo {
        display: none;
    }
    
    .social-media:hover {
        color: black;
        background-color: wheat;
        .gold-logo {
            display: none;
        }
        .black-logo {
            display: flex;
        }
    }
} 

  /* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    * {
        box-sizing: border-box;
        font-size: 100%;
        font-family: karantina;
    }
    
    body {
        margin: 0px;
        padding: 0px;
        background-color: #111215;
        overflow-x: hidden;
    }
    
    header {
        background-color: black;
    }
    
    .header {
        background-color: black;
        height: 5vw;
        padding: 0 1vw;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    .menu-button {
        background-color: black;
        border: none;
        padding: 0.5vw 1vw;
        font-size: 2vw; /* Adjust font size */
        cursor: pointer;
        color: wheat;
    }
    
    .menu-button a {
        text-decoration: none;
    }
    
    .menu-button:hover {
        color: black;
        background-color: white;
    }

    .menu-button:visited {
        text-decoration: none;
        color: black;
    }

    .menu-button:visited:after {
        color: black;
        background-color: white;
    }

    .certifications-title {
        letter-spacing: 5px;
        text-shadow: 1vw 1vw 1vw black;
        height: 20vw;
    }
    
    
    .certifications-heading-p h1{
        padding-top: 5vw;
        font-size: 10vw;
        margin: auto;
        color: goldenrod;
        text-align: center;
    }    

    .certificates {
        display: flex;
        justify-content: center;
    }

    .certificates-image {
        background-color: wheat;
        margin: 1vw;
        padding: 1vw;
        width: auto;
        height: 20vw;
        border: 1vw solid black;
        display: flex;
        justify-content: center;
    }

    .certificates-image img {
        display: block;
        width: 100%;
        border: 0.3vw solid #111215;
    }

    .see-more-button {
        background-color: black;
        border: none;
        padding: 0.5vw 1vw;
        font-size: 2vw; /* Adjust font size */
        cursor: pointer;
        color: wheat;
        margin: 0 46.5%;
        margin-bottom: 1vw;
    }
    
    .see-more-button:hover {
        color: goldenrod;
        background-color: white;
    }


    footer {
        background-color: black;
        color: goldenrod;
        margin-top: 10vw;
    }
    
    .footer {
        margin-left: auto;
        margin-right: auto;
        vertical-align: middle;
    }
    
    .footer p {
        font-size: 1.5vw;
        text-align: center;
        margin: 0px;
        padding: 2vw;
    }
    
    .gold-logo, .black-logo  {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2vw;
        max-width: 100%;
        margin: 0 auto;
        padding: 3vw;
    }
    
    .social-media img {
        max-width: 3vw;
    }
    
    .black-logo {
        display: none;
    }
    
    .social-media:hover {
        color: black;
        background-color: wheat;
        .gold-logo {
            display: none;
        }
        .black-logo {
            display: flex;
        }
    }
}
