/*Left Side Main Body*/

main {
    color: wheat;
    height: 38vw;
    position: relative;
}

.title {
    margin-left: 10vw;
    margin-top: 5vw;
    letter-spacing: 5px;
    text-shadow: 1vw 1vw 1vw black;
    float: left;
    padding: 3vw;    
}

.name {
    display: flex;
    align-items: last baseline;
}

.a-name h1 {
    font-size: 20vw;
    padding-right: 5px;
    margin: auto;
    color: goldenrod;
}

.rest-name h2 {
    font-size: 8vw;
    margin: auto;
}

.line {
    background-color: goldenrod;
    width: 24vw;
    height: 0.1vw;
    position: absolute;
    
}

.year-main h2 {
    font-size: 4.75vw;
    padding-right: 2vw;
    margin: auto;
    margin-top: 2vw;
    color: #00ca4e;
    
}

.year-number h2 {
    font-size: 3.75vw;
    margin: auto;
    color: #e85050;
    
}

.cover-right-side marquee {
    padding: 1vw;
    font-size: 2vw;
    letter-spacing: 0.2vw;
    color: #e85050;
}

