background: #111215;
--gap: 5em;
--line: 1px;
--color: rgb(0, 255, 81);

background-image: linear-gradient(-90deg,
        transparent calc(var(--gap) - var(--line)),
        var(--color) calc(var(--gap) - var(--line) + 1px),
        var(--color) var(--gap)),
    linear-gradient(0deg,
        transparent calc(var(--gap) - var(--line)),
        var(--color) calc(var(--gap) - var(--line) + 1px),
        var(--color) var(--gap));
background-size: var(--gap) var(--gap);