@import url(header.css);
@import url(ui-btn.css);
@import url(separator.css);
@import url(cover.css);
@import url(about-me.css);
@import url(activity.css);
@import url(certifications-style.css);
@import url(footer.css);
@import url(socials.css);

html {
    scroll-behavior: smooth;
}

#parent {
    position: relative;
}

body {
    background-color: #111215;
    font-family: karantina;
    margin: 0px;
    overflow-x: hidden;
    cursor: url("Arrow.cur"), auto;
    height: 100%;
    width: 100%;
}

.background-element-1 {

    background-color: #111215;
    background-image: linear-gradient(#e85050 1.8px, transparent 1.8px), linear-gradient(to right, #e85050 1.8px, #111215 1.8px);
    background-size: 36px 36px;
    opacity: 5%;
    width: 25%;
    height: 100%;
    position: absolute;
    z-index: -1;
    right: 0px;
    border-left: solid black 0.5rem;

}

.background-element-2 {
    background-color: #000000;
    background-image: linear-gradient(32deg,
            rgba(8, 8, 8, 0.74) 30px,
            transparent);
    background-size: 60px 60px;
    background-position: -5px -5px;

    opacity: 30%;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    left: 0px;
}

marquee {
    color: #e85050;
    font-size: 2vw;
    padding: 1vw;
    background-color: white;
}



@media screen and (max-width: 800px) {

    html {
        scroll-behavior: smooth;
    }
    
    #parent {
        position: relative;
    }
    
    body {
        background-color: #111215;
        font-family: karantina;
        margin: 0px;
        height: 100%;
        width: 100%;
    }

    .background-element-1 {

        background-color: #111215;
        background-image: linear-gradient(#e85050 1.8px, transparent 1.8px), linear-gradient(to right, #e85050 1.8px, #111215 1.8px);
        background-size: 36px 36px;
        opacity: 5%;
        width: 50%;
        height: 100%;
        position: absolute;
        z-index: -1;
        right: 0px;
        border-left: solid black 0.5rem;

    }

    .background-element-2 {
        background-color: #000000;
        background-image: linear-gradient(32deg,
                rgba(8, 8, 8, 0.74) 30px,
                transparent);
        background-size: 60px 60px;
        background-position: -5px -5px;

        opacity: 30%;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        left: 0px;
    }

    marquee {
        color: #e85050;
        font-size: 5vw;
        padding: 2vw;
        background-color: white;
    }

}